= form_for @travel do |f|
  - if @travel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@travel.errors.count, "error")} prohibited this travel from being saved:"
      %ul
        - @travel.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :place_from
    = select( :travel, :place_from_id, Place.where( city: false ).map { |p| [ p.full_description_name, p.id ] } )
  .field
    = f.label :place_to
    = select( :travel, :place_to_id, Place.where( city: false ).map { |p| [ p.full_description_name, p.id ] } )
  .field
    = f.label :cost
    = f.text_field :cost
  .field
    = f.label :duration
    = f.time_select :duration, include_seconds: true
  .actions
    = f.submit 'Save'


