.page-header
  = link_to travels_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_travel_path(@travel), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show travel

%dl.dl-horizontal
  %dt Place to:
  %dd= @travel.place_from.full_description_name
  %dt Place from:
  %dd= @travel.place_to.full_description_name
  %dt Cost:
  %dd= @travel.cost
  %dt Duration:
  %dd= @travel.duration.strftime( '%T' )

= button_to 'Create wayback', travel_wayback_path( @travel ), class: 'btn btn-default'