%h1 Listing investigators

%table
  %thead
    %tr
      %th Name
      %th Location
      %th
      %th
      %th
      %th

  %tbody
    - @investigators.each do |investigator|
      %tr
        %td= investigator.name
        %td= name_with_ancestors( investigator.location )
        %td= link_to 'Move', investigator_move_path( investigator )
        |
        %td= link_to 'Show', investigator
        %td= link_to 'Edit', edit_investigator_path(investigator)
        %td= link_to 'Destroy', investigator, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Investigator', new_investigator_path
