%h1 Listing investigators

%table.table
  %thead
    %tr
      %th Name
      %th Profession
      %th Location
      %th Clues
      %th Actions
      %th
      %th
      %th
      %th

  %tbody
    - @investigators.each do |investigator|
      - action_data = investigator.game_action.print_action_data
      %tr
        %td
          - if investigator.incapacited
            %strike
              = investigator.name
          - else
            = investigator.name
        %td= investigator.profession.name
        %td
          = action_data[ :location_to_print ]
          %span{ class: :eta_show_area, id: "eta_show_area_#{investigator.id}", eta: action_data[ :eta_int ] }
            = action_data[ :eta_str ]
        %td= investigator.clues
        %td= investigator.actions_count
        %td= button_to 'Actions', game_board_investigator_investigator_actions_path( @current_game_board, investigator ), method: :get, class: 'btn btn-default' unless investigator.incapacited
        %td= link_to 'Show', [ @current_game_board, investigator ]
        %td= link_to 'Edit', edit_game_board_investigator_path( @current_game_board, investigator )
        %td= link_to 'Destroy', [ @current_game_board, investigator ], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= next_turn_link
|
= link_to 'New Investigator', new_game_board_investigator_path( @current_game_board )
