%h1 Listing investigators

%table
  %thead
    %tr
      %th Name
      %th Location
      %th
      %th
      %th
      %th

  %tbody
    - @investigators.each do |investigator|
      %tr
        %td= investigator.name
        %td
          - if investigator.on_travel?
            On travel to
            = travel_destination( investigator.travel )
            Eta
            %span{ eta: investigator.travel_eta, class: :eta_show_area, id: "eta_show_area_#{investigator.id}" }
              = Time.at( investigator.travel_eta ).utc.strftime( '%T' )
          - else
            = name_with_ancestors( investigator.location )
        %td= link_to 'Move', game_board_investigator_move_path( @current_game_board, investigator )
        %td= link_to 'Show', [ @current_game_board, investigator ]
        %td= link_to 'Edit', edit_game_board_investigator_path( @current_game_board, investigator )
        %td= link_to 'Destroy', [ @current_game_board, investigator ], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Investigator', new_game_board_investigator_path( @current_game_board )
