= form_for @monster, html: { class: 'form-horizontal' } do |f|
  - if @monster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@monster.errors.count, "error")} prohibited this monster from being saved:"
      %ul
        - @monster.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save', class: 'btn btn-default'
    = submit_tag :select_all, type: :button, id: :select_all, class: 'btn btn-default', data: {disable_with: "Submitting..."}

  .row
    .col-lg-4
      .form-group
        = f.label :default_translation, class: 'col-sm-5 control-label'
        .col-sm-7
          = f.text_field :default_translation, class: 'form-control'

      .form-group
        = f.label :hit_point, class: 'col-sm-9 control-label'
        .col-sm-3
          = f.number_field :hit_points, class: 'form-control'

      .form-group
        = f.label :willpower_test, class: 'col-sm-9 control-label'
        .col-sm-3
          = f.number_field :willpower_test, class: 'form-control'

      .form-group
        = f.label :horror, class: 'col-sm-9 control-label'
        .col-sm-3
          = f.number_field :horror, class: 'form-control'

      .form-group
        = f.label :combat_test, class: 'col-sm-9 control-label'
        .col-sm-3
          = f.number_field :combat_test, class: 'form-control'

      .form-group
        = f.label :damages, class: 'col-sm-9 control-label'
        .col-sm-3
          = f.number_field :damages, class: 'form-control'

      .form-group
        = f.label :apparition_weight, class: 'col-sm-9 control-label'
        .col-sm-3
          = f.number_field :apparition_weight, class: 'form-control'


    - if @places.size > 0
      - @places.each_slice( ( @places.size / 2.0 ).ceil ) do |places_in_column|

        .col-lg-3
          .field
            %table
              - places_in_column.each do |place|
                %tr
                  %td= f.label place[ 0 ]
                  %td= check_box_tag 'places[]', place[ 1 ], @checked_places.include?( place[ 1 ] ), class: :monster_place_checkbox