%div.action_div
  - if @investigator.has_actions
    %ul
      %li= link_to 'Move', game_board_investigator_movement_selection_path( @current_game_board, @investigator )
      %li= link_to 'Investigate a place', game_board_investigator_investigate_path( @current_game_board, @investigator )
      %li= link_to t( '.ask_people' ), game_board_investigator_ask_people_path( @current_game_board, @investigator )
      %li= link_to 'Trouver un portail', game_board_investigator_find_portal_path( @current_game_board, @investigator )
      %li= link_to 'Fermer un portail', game_board_investigator_close_portal_path( @current_game_board, @investigator )
      %li= link_to 'Combattre un monstre', game_board_investigator_combat_monster_path( @current_game_board, @investigator )
      %li= link_to t( '.show_log' ), game_board_investigator_game_action_logs_path( @current_game_board, @investigator )
