- action_data = @investigator.game_action.print_action_data
= action_data[ :location_to_print ]
%span{ class: :eta_show_area, id: "eta_show_area_#{@investigator.id}", eta: action_data[ :eta_int ] }
  = action_data[ :eta_str ]

.list-group
  - if @investigator.has_actions
    = link_to 'Move', game_board_investigator_movement_selection_path( @current_game_board, @investigator), class: 'list-group-item'
    = link_to 'Investigate a place', game_board_investigator_investigate_path( @current_game_board, @investigator), class: 'list-group-item'
    = link_to t( '.ask_people' ), game_board_investigator_ask_people_path( @current_game_board, @investigator), class: 'list-group-item'
    = link_to 'Trouver un portail', game_board_investigator_find_portal_path( @current_game_board, @investigator), class: 'list-group-item'
    = link_to 'Fermer un portail', game_board_investigator_close_portal_path( @current_game_board, @investigator), class: 'list-group-item'
    = link_to 'Combattre un monstre', game_board_investigator_combat_monster_path( @current_game_board, @investigator), class: 'list-group-item'
    = link_to t( '.show_log' ), game_board_investigator_game_action_logs_path( @current_game_board, @investigator), class: 'list-group-item'
