%table.table
  %tr
    %th{ colspan: 2 }
      Game actions
  - @game_action_log.each do |log|
    %tr
      %td= log.updated_at.strftime( '%T' )
      %td
        = t( '.' + log.action_type ) + ' ' + current_location_name( log ) + '.'
        = t( "actions_results.#{log.action_type}.#{log.result_code}", location: result_location_name( log ) )