%h1 Investigator Actions

= button_to 'Investigator', game_board_investigators_path( @current_game_board ), method: :get

%br

#action_actions_div
  = render partial: 'investigator'
  = render partial: 'actions'
  = render partial: 'game_status'
  = render partial: 'board_log'

#action_logs_div
  %div.action_div
    %table
      %tr
        %th
          News
      - @in_the_news_places.each do |in_the_news|
        %tr
          %td
            - if @discovered_places_ids.include?( in_the_news.id )
              %strike
                = news_info( in_the_news )
            - else
              = news_info( in_the_news )

  %div.action_div
    %table
      %tr
        %th
          Game actions
      - @game_action_log.each do |log|
        %tr
          %td
            = t( '.' + log.action_type ) + ' ' + current_location_name( log ) + '.'
            = t( "actions_results.#{log.action_type}.#{log.result_code}", location: result_location_name( log ) )

  %div.action_div
    %table
      %tr
        %th
          Portals locations
      - @discovered_portals.each do |portal|
        %tr
          %td= portal.place.full_description_name
          %td= portal.presage


