%h1 InvestigatorActions#show
%p Find me in app/views/investigator_actions/show.html.haml

#action_actions_div
  %div.action_div
    %ul
      %li= link_to 'Move', game_board_investigator_movement_selection_path( @current_game_board, @investigator )
      %li= link_to 'Investigate a place', game_board_investigator_investigate_path( @current_game_board, @investigator )
      %li= link_to t( '.ask_people' ), game_board_investigator_ask_people_path( @current_game_board, @investigator )
      %li= link_to 'Trouver un portail', game_board_investigator_find_portal_path( @current_game_board, @investigator )
      %li= link_to 'Fermer un portail', game_board_investigator_close_portal_path( @current_game_board, @investigator )
      %li= link_to t( '.show_log' ), game_board_investigator_game_action_logs_path( @current_game_board, @investigator )

#action_logs_div
  %div.action_div
    %table
      %tr
        %th{ colspan: 3 }
          Game log
      %tr
        %th
          Presage
        %th
          Portals
        %th
          Destiny
      - @board_log.each do |log|
        %tr
          %td= log.presage
          %td= log.portal_count
          %td= log.final_destiny

  %div.action_div
    %ul
      - @in_the_news_places.each do |in_the_news|
        %li= news_info( in_the_news )

  %div.action_div
    %ul
    - @game_action_log.each do |log|
      %li
        = t( '.' + log.action_type ) + ' ' + current_location_name( log ) + '.'
        = t( "actions_results.#{log.action_type}.#{log.result_code}", location: result_location_name( log ) )
