= form_for @place do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :default_translation
    = f.text_field :default_translation
  .field
    = f.label :parent_id
    = select( :place, :parent_id, Place.where( city: true ).map { |p| [ p.full_description_name, p.id ] }, {include_blank: 'None'} )
  .field
    = f.label :Masculin
    = f.radio_button( :gender, :m )
    = f.label :Feminin
    = f.radio_button( :gender, :f )
    = f.label :Plural
    = f.radio_button( :gender, :p )

  .field
    = f.label :City
    = f.check_box( :city )

  .field
    = f.label 'Well known place'
    = f.check_box( :well_known_place )

  = f.submit 'Save'
