%h1 Listing places


= link_to 'New Place', new_place_path

%table
  %thead
    %tr
      %th Name
      %th Gender
      %th City
      %th Localisation name
      %th Monsters
      %th
      %th
      %th

  %tbody
    - @places.each do |place|
      %tr
        %td= place.full_description_name.capitalize
        %td= place.gender
        %td= place.city
        %td= place.full_localisation_name.capitalize
        %td= place.monsters.map{ |e| e.name }.join( ',' )
        %td= link_to 'Show', place
        %td= link_to 'Edit', edit_place_path(place)
        %td= link_to 'Destroy', place, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Place', new_place_path
