%p#notice= notice

%p
  %b Code:
  = @place.code
%p
  %b Default translation:
  = @place.default_translation
%p
  %b Parent id
  = @place.parent_id
%p
  %b City
  = @place.city

= link_to 'Edit', edit_place_path(@place)
\|
= link_to 'Back', places_path

