!!!
%html
  %head
    %title CthulhuMud
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to 'Game boards', game_boards_path
    |
    - if @current_game_board
      = link_to 'Investigators', game_board_investigators_path( @current_game_board )
      |
    = link_to 'Places', places_path
    |
    = link_to 'Travels', travels_path
    |
    = link_to 'Profession', professions_path
    |
    = link_to 'News headlines', in_the_news_headlines_path

    = yield